{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="gallery" data-index="0">
        <div class="left">
            <a href="javascript:void(0)"><img src="{% static 'core/img/seta_esquerda.jpg' %}" /></a>
        </div>
        <div class="container">
            {% for picture in object_list %}
                <img src="{{ picture.file }}" />
            {% endfor %}
        </div>
        <div class="right">
            <a href="javascript:void(0)"><img src="{% static 'core/img/seta_direita.jpg' %}" /></a>
        </div>
        <div class="pagination">
            <div class="inner_pagination">
                <span class="current_image">1</span> of <span class="total_image">{{ object_list|length }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_body %}
    {{ block.super }}
    <script src="{% static 'core/js/gallery.js' %}"></script>
{% endblock %}